@import url("https://fonts.cdnfonts.com/css/aileron");
@import "tailwindcss";

body {
  font-family: "Aileron", ui-sans-serif, system-ui, sans-serif;
}

.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
